.main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
button {
    border:black solid 1px;
    background: #ffffff;
}

.menu {
    background: #ffffff;
    transform: translate(calc(300px + 4em + 2px));
    /* transition: ; */
    padding: 0 2em;
    float: right;
    border: black solid 1px;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 300px;
}