html
    head
        title Inpex Page
    body
        h1 Hello jade
        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos repellendus inventore eum ex nesciunt doloremque? Ea, alias, provident iste nobis illum quas perspiciatis vitae laudantium minus quisquam reprehenderit pariatur.
        hr
        a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To HanBit Media